.box {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 150px;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}
.box:hover {
    background-color: #ddd;
}
a {
    text-decoration: none;
    color: black;
}
.hd-container{
    display: flex;
    justify-content: space-between; /* Distributes items evenly */
    border: 1px solid black; /* Adds a border around the container */
    width: 100%; /* Ensures the container takes full width of its parent */
    box-sizing: border-box; /* Includes border and padding in the container's width */
    padding: 20px; /* Adds space inside the container */
    align-items: center; /* Centers items vertically within the container */
}